    {% extends 'base.html' %}
    {% block content %}
        <div class="container">
            <div class="jumbotron">
                <h1>Account Activated !!</h1>
                <p>Please <a href="{% url 'haratiapp:index' %}">click here</a> to continue. </p>
                <p>Thank You</p>
            </div>
        </div>
    {% endblock %}