<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}

    {% block title %}
        <title>Title</title>
    {% endblock %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</head>
<body>


    <link rel="stylesheet" href="{% static 'css/homepagestyles.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>
    {% comment %}
    Navbar begins from here
    {% endcomment %}
    <div class="navbarrr" >

        <div class="left">
        <img src="{{ obj.logo.url }}" alt="Nno" style="max-height: 150px; max-width: 150px;">
        </div>
        <div class="center text-center">
            <h3>Harati Collection Center</h3>
            <p>Because quality cannot be compromised...</p>
            <p>We offer what you seek for...</p>
        </div>
        <div class="right" style="display: grid;">
            <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=small&timezone=Asia%2FKathmandu"
                    width="100%" frameborder="0">
            </iframe>
        </div>
    </div>

    <nav class="navbar navbar-default" style="background-color: #FD7300"role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'haratiapp:index' %}">HCC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class={% if active == 'clothing' %}"active"{% endif %}>  <a href="{% url 'haratiapp:clothing' %}">Clothing</a></li>
                <li class= {% if active == 'footwear' %} "active" {% endif%}><a href="{% url 'haratiapp:footwear' %}">FootWear</a></li>
                <li class= {% if active == 'bagsandwallets' %} "active" {% endif%}><a href="{% url 'haratiapp:bagsandwallets' %}">Bags & Wallets</a></li>
                <li class= {% if active == 'womenswear' %} "active" {% endif%}><a href="{% url 'haratiapp:womenswear' %}">Womens Wear</a></li>
                <li class= {% if active == 'accessories' %} "active" {% endif%}><a href="{% url 'haratiapp:accessories' %}">Accessories</a></li>
            </ul>



            <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
                <li><a href="" style="color: green; font-size: 25px;">Welcome! {{ user.first_name }}</a></li>
            {% else %}

                <!-- Modal -->
                <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog"
                     aria-labelledby="headmodallabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="headmodallabel">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="login-form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="loginemail">Email address</label>
                                        <div id="loginemail">{{ loginform.loginusername }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="loginpassword">Password</label>
                                        <div id="loginpassword">{{ loginform.loginpassword }}</div>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email
                                            with anyone
                                            else.
                                        </small>
                                    </div>
                                    <button type="submit" class="btn btn-success" style="width: 100%">Login</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="registermodal" tabindex="-1" role="dialog"
                     aria-labelledby="headregistermodal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="headregistermodal">Register</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="register-form" method="post" id="register" action="">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="registeremail">Firstname:</label>
                                        <div id="registeremail">{{ register.first_name }}</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="registeremail">LastName:</label>
                                        <div id="registeremail">{{ register.last_name }}</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="registerusername">Username:</label>
                                        <div id="registerusername">{{ register.username }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="registerpassword">Password:</label>
                                        <div id="registerpassword">{{ register.password1 }}</div>

                                    </div>

                                    <div class="form-group">
                                        <label for="registerrepassword">Re-Enter Password:</label>
                                        <div id="registerrepassword">{{ register.password2 }}</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="registeremail">Email:</label>
                                        <div id="registeremail">{{ register.email }}</div>
                                    </div>



                                    <button type="submit" class="btn btn-primary" style="width: 100%">Register</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop Data <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        {% if user.is_authenticated %}

                        <li><a href="{% url 'haratiapp:logout' %}"><i class="fa fa-user" style="padding: 0 10px;"></i>Logout</a></li>
                        <li class="divider"></li>

                        {% else %}
                        <li data-toggle="modal" data-target="#loginmodal"><a href="#"><i class="fa fa-user" style="padding: 0 10px;"></i>Login</a></li>
                        <li class="divider"></li>


                        <li data-toggle="modal" data-target="#registermodal"><a href="#"><i class="fa fa-user-plus" style="padding: 0 10px;"></i>Register</a></li>
                        <li class="divider"></li>

                        {% endif %}

                        <li><a href=""><i class="fa fa-phone" aria-hidden="true" style="padding: 0 10px;"></i>Contact Us</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-info-circle" style="padding: 0 10px;"></i>About</a></li>
                    </ul>
                </li>
            </ul>

            <div class="col-sm-3 col-md-3" style="float: left">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.navbar-collapse -->
    </nav>

    {% if messages %}

    {% for message in messages %}

        <div class="alert alert-{{ message.tags }} text-center" role="alert">
  {{ message }}
</div>

    {% endfor %}

    {% endif %}


    {% comment %}
    Navbar Ends from here
    {% endcomment %}






{% block content %}
{% endblock %}


</body>
</html>