{% extends 'base.html' %}

{% block content %}
    {% comment %}
    Body begins from here
    {% endcomment %}

    <div id="content">
        <div class="sidebar">
            <ul>
                <li>Clothing</li>

                <ul>
                    {% for name in subcategories_clothing %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>

                <li>Footwear</li>
                <ul>
                    {% for name in subcategories_footwear %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Accessories</li>
                <ul>
                    {% for name in subcategories_bagsandwallets %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Women's Wears</li>
                <ul>
                    {% for name in subcategories_accessories %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>
                <li>Bags & Wallets</li>
                <ul>
                    {% for name in subcategories_womenwears %}
                        <li>{{ name.subcategory }}</li>
                    {% endfor %}
                </ul>


                <ul style="border-bottom: 2px solid black; margin: 20px; ">
                    <h2>Browse By</h2>
                    <div class="sex">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Male</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Female</label>
                        </div>
                    </div>
                </ul>

                <ul style="border-bottom: 2px solid black; margin: 20px;">
                    <div class="size">
                        <h2>Size:</h2>
                        <div class="checkbox">
                            <label class="checkbox-inline"><input type="checkbox" value="">S</label>
                            <label class="checkbox-inline"><input type="checkbox" value="">M</label>
                            <label class="checkbox-inline"><input type="checkbox" value="">L</label>
                            <label class="checkbox-inline"><input type="checkbox" value="">XL</label>
                        </div>

                    </div>
                </ul>

                <ul style="border-bottom: 2px solid black; ">
                    <h3>Color</h3>
                    <div class="color"
                         style="display: grid; grid-template-columns: repeat(5, 1fr); grid-column-gap: 2px; padding-left: 0; font-size: 15px;">

                        <div class="black" style="color: black">Black</div>
                        <div class="black"></div>
                        <div class="black" style="color: yellow">Yellow</div>
                        <div class="black"></div>
                        <div class="black" style="color: red">Red</div>
                        <div class="black"></div>
                        <div class="black" style="color: blue">Blue</div>
                        <div class="black"></div>
                        <div class="black" style="color: green">Green</div>
                        <div class="black"></div>
                        <div class="black" style="color: pink">Pink</div>
                        <div class="black"></div>
                        <div class="black" style="color: brown">Brown</div>
                        <div class="black"></div>
                    </div>
                </ul>

                <ul style="border-bottom: 2px solid black; margin: 20px;">
                    <h3>Price Range</h3><span style="color: green;">Less Than</span></h3>
                    <input type="range" id="slider" value="100" min="100" max="5000" step="100"/>
                    <br/>

                    <span id="slider_value">Nothing yet.</span>

                    <script>
                        $(document).on('change', '#slider', function () {
                            $('#slider_value').html($(this).val());
                        });
                    </script>
                </ul>
            </ul>
        </div>

        <div class="image-slider">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ obj.logo.url }}" alt="Los Angeles" style="width: 100%; height: 100%;">
                    </div>

                    <div class="item">
                        <img src="{{ obj.logo.url }}" alt="Chicago" style="width: 100%; height: 100%;">
                    </div>

                    <div class="item">
                        <img src="{{ obj.logo.url }}" alt="New York" style="width: 100%; height: 100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="featured">
            asdfsaf
        </div>

        <div class="footer" style="background-color: green;">
            FOoter
        </div>

    </div>


    {% comment %}
    Body ends from here
    {% endcomment %}
{% endblock %}