<form class="register-form" method="post" id="register" action="{% url 'haratiapp:signup' %}">
{% csrf_token %}

<div class="form-group">
<label for="registeremail">Enter Firstname</label>
<div id="registeremail">{{ register.first_name }}</div>
</div>

<div class="form-group">
<label for="registeremail">Enter LastName</label>
<div id="registeremail">{{ register.last_name }}</div>
</div>

<div class="form-group">
<label for="registerusername">Enter Username:</label>
<div id="registerusername">{{ register.username }}</div>
</div>
<div class="form-group">
<label for="registerpassword">Enter Password</label>
<div id="registerpassword">{{ register.password1 }}</div>

</div>

<div class="form-group">
<label for="registerrepassword">Re-Enter Password</label>
<div id="registerrepassword">{{ register.password2 }}</div>
</div>

<div class="form-group">
<label for="registeremail">Enter Email</label>
<div id="registeremail">{{ register.email }}</div>
</div>
<button type="submit" class="btn btn-primary" style="width: 100%">Register</button>
</form>