<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/adminstyles.css' %}">
</head>
<body>
{% load thumbnail %}

{% for o in obj %}

    <img src="{{ o.image.url }}" alt="">

{% endfor %}

</body>
</html>