body{
    margin:0;
    padding:0;
    height: 100%;

}

/*Navbar*/

.navbarrr {
            padding: 0;
            margin: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, minmax(33.33%, auto));

        }

        .left {
            display: grid;
            grid-column: 1 / 2;
        }

        .center {
            display: grid;
            grid-column: 2 / 3;

        }

        .right {
            display: grid;
            grid-column: 3 / 4;
        }



/*Navbar*/


/*Content*/

    #content{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, minmax(80px, auto));
    grid-gap:10px;
    width:100%;
}


.sidebar{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color: #FFA500;
    margin: 0 0 0 0;
    font-size: 20px;
}

.sidebar li {
    margin: 20px;
    list-style: none;
    padding: 20px 0 20px 0;
    text-align: center;
    border-bottom: 2px solid black;


}

.color li{
    padding: 5px 0;
    border-bottom: 0;
}


.discount li{
    padding: 5px 0;
    border-bottom: 0;
}

.image-slider{
    display: grid;
    grid-column: 3 / 9;
    grid-row: 1 / 3;
    background-color: black;
}


.featured{
    display: grid;
    grid-column: 3 / 9;
    grid-row: 3 / 4;
    background-color: greenyellow;
}

/*Content*/


/*Footer*/

.footer{
    display: grid;
    grid-column: 1 / 9;
    grid-row: 4 / 6;
}

/*Footer*/